<div>
    <h1>Compra finalizada</h1>
    <p id="purchaseData"></p>
    <h2>Lista de productos</h2>
    <ul id="ulProducts"></ul>
    <h3>Productos sin stock disponible</h3>
    <ul id="ulNoStockProducts"></ul>
</div>

<script src="/js/cart.js"></script>
