<button><a href="/views/products">CONTINUAR COMPRANDO</a></button>
<div id="cart">
    <h1>Carrito</h1>
    <h2>Lista de productos</h2>
    <ul id="ulProducts"></ul>
    <p id="totalAmount"></p>
    <div id="buyButton"></div>
    <button id="buy">COMPRAR</button>
</div>
<div id="purchase"></div>
<button id="removeCart">VACIAR CARRITO</button>

<script src="/js/cart.js"></script>