<div>
    <h1>Carrito</h1>
    <h2>Lista de productos</h2>
    <ul id="ulProducts"></ul>
    <p id="totalAmount"></p>
    <button type=""><a href="/views/cartorder/">COMPRAR</a></button>
</div>

<script src="/js/cart.js"></script>