<h1>Bienvenidos al manuchat!!</h1>
<div>
    <input id="chatBox">
</div>
<div>
    <p id="connectedUsers"></p>
</div>
<div>
    <p id="messageLogs"></p>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>