<div>
    <h1>Inicio de sesión</h1>
    <form id="loginForm">
        <label>Usuario</label>
        <input type="text" name="email">
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    <p>No estas registrado? <a href="/views/register">Registrate aquí</a></p>
    <p>Olvidaste la contraseña? <a href="/views/resetpassword">Restaurar contraseña</a></p>
    <div>
        <a href="/session/github"><button>Github login</button></a>
    </div>
</div>

<script src="/js/login.js"></script>