<div>
    <h1>Inicio de sesión</h1>
    <form id="loginForm">
        <label>Usuario</label>
        <input type="text" name="email" value="uy.msosa@gmail.com">
        <label>Contraseña</label>
        <input type="password" name="password" value="pass1234">
        <input type="submit">
    </form>
    <p>No estas registrado? <a href="/views/register">Registrate aquí</a></p>
</div>

<script src="/js/login.js"></script>