<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>Nombre completo {{user.name}}</p>
    <p>email {{user.email}}</p>
    <p>Edad {{user.age}}</p>
    <p>Ya estas registrado <a href="/login">Inicia sesión</a></p>
</div>
