<div>
    <h1>Restaurar contraseña</h1>
    <form id="restorePass">
        <label>Correo Electronico</label>
        <input name="email">
        <label>Nueva contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
    <p>¿Ya tienes una cuenta? <a href="/views/login">Ingresa aquí</a></p>
    <p>No estas registrado? <a href="/views/register">Registrate aquí</a></p>
</div>

<script src="/js/resetPassword.js"></script>